<nav class="pv3 ph3 ph4-ns wc-bg-light" role="navigation" style="box-shadow: 0 2px 4px rgba(0,0,0,0.05);">
  <div class="flex-l center items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 no-underline comfortaa-logo flex items-center"
      style="color: #06BEE1;">
      {{ with .Site.Params.site_logo }}
      <img src="{{ urls.RelURL . }}" class="w3 mr2" alt="{{ $.Site.Title }}" />
      {{ end }}
      <span class="site-title">{{ .Site.Title }}</span>
    </a>
    <div class="flex-l items-center">
      {{ partials.Include "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
      <ul class="pl0 mr3">
        {{ range .Site.Menus.main }}
        <li class="list f5 f4-ns fw4 dib pr3">
          <a class="no-underline" href="{{ .URL }}" title="{{ .Name }}" style="color: #2C3E50;">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ partials.IncludeCached "social/follow.html" . }}
    </div>
  </div>
</nav>